# Игнорировать все файлы и папки
/*

# Исключения: не игнорировать папки src и docs
!app/
!config/
!database/
!resources/
!routes/

# Не игнорировать содержимое папок src и docs
!app/**
!config/**
!database/**
!resources/**
!routes/**